{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
	<div id="wrapper">
		<div id="header-wrapper">
			<div id="header" class="container">
				<div id="logo">
					<h1><a href="#">password reset done</a></h1>
				</div>
			</div>
	
			<div id="banner">
				<div class="content">
					<div>
						<h2>Verifique sua caixa de entrada.</h2>
					</div>
					<br>
					<div>
						<h4>Enviamos por e-mail instruções para redefinir sua senha. Você deve receber o e-mail em breve!
						</h4>
					</div>
				</div>
			</div>
		</div>
		<!-- end #header -->
	
	
	</div>
</body>
</html>
