{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
	<div id="wrapper">
		<div id="header-wrapper">
			<div id="header" class="container">
				<div id="logo">
					<h1><a href="#">Password reset complete</a></h1>
				</div>
			</div>
	
			<div id="banner">
				<div class="content">
					<div>
						<h2>Redefinição de senha concluída.</h2>
					</div>
					<br>
					<div>
						<h4><a>Sua nova senha foi definida. Você pode entrar agora na <a href="{% url 'login' %}">página de
									login</a>.</h4>
					</div>
				</div>
			</div>
		</div>
	
	</div>
</body>
</html>