{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
  <div id="wrapper">
    <div id="header-wrapper">
      <div id="header" class="container">
        <div id="logo">
          <h1><a href="#">Password reset confirm</a></h1>
        </div>
      </div>
  
      <div id="banner">
        <div class="content">
          {% if validlink %}
          <h1>Defina uma nova senha!</h1>
          <br>
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Troque minha senha">
          </form>
          {% else %}
          <br>
          <p>O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- end #header -->
  
  
  </div>
</body>
</html>